{% for item in component.content %}
    {% if item.type == 'method' %}
        <div class="definition">
            <div class="definition-header">
                <strong class="method">{{ item.method.name }}</strong>
                <span>(    </span>
                {% for param in item.method.parameters %}
                    <span class="param-name">{{ param.name }}:    </span>
                    <i class="param-value">{{ param.type }}</i>
                    <span>):    </span>
                    {% if item.method.returns != None %}
                        <i class="return-value">{% item.method.returns %}</i>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="indent">{% item.method.description %}</div>
            <br>
            {% if item.method.params.length > 0 %}
                <strong>Parameters</strong>
                <br>
                <ul>
                    {% for param in item.method.params %}
                    <li>
                        <strong>{{ param.name }}:    </strong><i class="return-value">{{ param.type }}</i>
                        <br>
                        <span>{{ param.description }}</span>
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if item.method.returns != None %}
                <strong>Returns    </strong><i class="return-value">{{ item.method.returns }}</i>
                <p>
                    <div class="indent">{{ item.method.returns.docstring }}</div>
                </p>
            {% endif %}
        </div>
    {% endif %}
{% endfor %}
