<h2>Methods</h2>
{% for item in component.content %}
{% if item.member_type == 'method' %}
{% include 'method.md.j2' %}
{% endif %}
{% endfor %}

<h2>Properties</h2>
{% for item in component.content %}
{% if item.member_type == 'property' %}
{% include 'property.md.j2' %}
{% endif %}
{% endfor %}

<h2>Getters</h2>
{% for item in component.content %}
{% if item.member_type == 'getter' %}
{% include 'property.md.j2' %}
{% endif %}
{% endfor %}

<h2>Setters</h2>
{% for item in component.content %}
{% if item.member_type == 'setter' %}
{% include 'method.md.j2' %}
{% endif %}
{% endfor %}