<div class="definition">
    <div class="definition-header">
{% if item.member_type == 'getter' %}
<span class="getter">get</span>
{% elif item.member_type == 'setter' %}
<span class="setter">set</span>
{% endif %}
{% if item.name != None %}
        <strong class="method">{{ item.name }}</strong>
        <span class="paren">(</span>
{% endif %}
{% if item.parameters != None %}
{% for param in item.parameters %}
{% if param.name != None %}
        <span class="param-name">{{ param.name }}</span>
{% if param.type != None %}
        <span class="paren">:</span>
        <i class="param-value">{{ param.type }}</i>
{% endif %}
<span class="paren">,</span>
{% endif %}
{% endfor %}
{% endif %}
        <span class="paren">)</span>
{% if item.returns != None %}
        <span class="paren">:</span>
        <i class="return-value">{{ item.returns }}</i>
{% endif %}
    </div>
    <div class="indent">{{ item.description }}</div>
    <br>
{% if item.parameters != None %}
    <strong>Parameters</strong>
    <br>
    <ul>
{% for param in item.parameters %}
        <li>
{% if param.name != None %}
            <strong>{{ param.name }}</strong>
{% endif %}
{% if param.type != None %}
            <span class="paren">&nbsp:</span>
            <i class="return-value">{{ param.type }}</i>
{% endif %}
            <br>
{% if param.description != None %}
            <span>{{ param.description }}</span>
{% endif %}
        </li>
{% endfor %}
    </ul>
{% endif %}
{% if item.returns != None %}
    <strong>Returns    </strong><i class="return-value">{{ item.returns }}</i>
    <p>
        <div class="indent">{{ item.returns }}</div>
    </p>
{% endif %}
</div>