site_name: aspect-js
theme: readthedocs
docs_dir: md
site_dir: components
extra_css:
  - style.css
nav:{% for component in components %}
  - '{{ component.name }}': {{ component.name }}.md{% endfor %}