<div class="definition">
    <div class="definition-header">
    <div class="tsd-kind-icon property-icon"></div>
{% if item.name != None %}
        <strong class="method">{{ item.name }}</strong>
{% endif %}
        <span class="paren">:</span>
{% if item.returns != None %}
        <i class="return-value">{{ item.returns }}</i>
{% endif %}
    </div>
    <div class="indent">{{ item.description }}</div>
    <br>
{% if item.returns not in [None, 'void'] %}
    <strong>Returns</strong><i class="return-value">&nbsp{{ item.returns }}</i>
    <p>
        <div class="indent">{{ item.returns }}</div>
    </p>
{% endif %}
</div>
